@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
    <h1>Internship Landpage</h1>
    <p>Here is our classroom</p>

    <ul id="list">
        <li>Vlad</li>
        <li>Radu</li>
        <li>Peter</li>
    </ul>

    <input id="newcomer" title="Name" type="text" />
    <button id="add" onclick="addNewcomer()">Add new commer</button>
    <script src="default.js" type="text/javascript"></script>
    <p>
        <img src="/images/GoodCodeRules.jpg" />5
    </p>
</body>
